<!-- Background Home -->
<div class="page-header section-dark" style="background-image: url('{{asset 'img/liam-pozz-248765-unsplash.jpg'}}')">
	<div class="filter"></div>
	<div class="content-center">
		<div class="container">
			<div class="title-brand">
				<h1 class="font-weight-bold">{{t "Social Network Automation"}}</h1>
				<div class="moving-clouds" style="background-image: url('{{asset 'img/clouds.png'}}'); "></div>
			</div>
			<h2 class="presentation-subtitle text-center">{{t "Manage all your social accounts in one place"}}</h2>
		</br>
			<div class="text-center">
				<a href="{{facebook_url @site.facebook}}" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="{{twitter_url @site.twitter}}" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="https://www.instagram.com/runasio/" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-instagram"></i>
				</a>
				<a href="https://medium.com/runas" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-medium"></i>
				</a>
				<a href="https://runasio.slack.com/" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-slack"></i>
				</a>
				<a href="https://www.youtube.com/runasio/" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-youtube"></i>
				</a>
				<a href="https://www.pinterest.fr/runasio/" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-pinterest"></i>
				</a>
				<a href="https://www.linkedin.com/company/runasio/" target="_blank" class="btn btn-danger btn-icon btn-round">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
		</div>
	</div>

</div>
<!-- End Background Home -->
