<div class="page-header section-dark" style="background-image: url('{{asset 'img/company-section.jpg'}}')">
	<div class="filter"></div>
	<div class="content-center">
		<div class="container">
    	<h1 class="presentation-subtitle text-center">{{t "RunAs is a team of distributed people, aligned in common values and with a creative thinking of the company world."}}</h1>
		</div>
	</div>
</div>

<div class="section section-testimonial text-left">
    <div class="container">
  <h2 id="our-core-values">{{t "Our Company Model"}}</h2>
<h3 id="trust-explicitly-">{{t "Trust explicitly"}}</h3>
<p>{{t "We believe in the reliability and capability of our teammates."}}</p>
<h3 id="focus-">{{t "Focus"}}</h3>
<p>{{t "We focus on fewer things and getting those right."}}</p>
<h3 id="always-go-forward-">{{t "Always go forward"}}</h3>
<p>{{t "The path forward is not always straight, but we keep iterating, adjusting, and continually improving."}}</p>
<h3 id="communication-is-everything-">{{t "Communication is everything"}}</h3>
<p>{{t "We aim to over-communicate and share more rather than less, but with brevity and conciseness."}}</p>
<h3 id="open-source-is-in-our-dna-">{{t "Open source is in our DNA."}}</h3>
<ul>
<li>{{t "As a product company, we default to open source where appropriate."}}</li>
<li>{{t "We believe in the echo of open source and in open core business models."}}</li>
</ul>
</div>
</div>
<!-- End Company Home -->
