<div class="page-header section-dark" style="background-image: url('{{asset 'img/product-section.jpg'}}')">
	<div class="filter"></div>
	<div class="content-center">
		<div class="container">
    	<h1 class="presentation-subtitle text-center">{{t "Smart Social Network Automation Made Easy and for Everyone. We automate everything in a smart way. Less time on social network, more time for you."}}</h1>
		</div>
	</div>
</div>

<div class="section text-center">
    <div class="container">
        <h2 class="title">{{t "Save time by scheduling your social posts"}}</h2>
        <h3>{{t "Keep your social presence active 24/7 by automatically scheduling all of social media posts at once, across your social accounts. Create a campagn to schedule your posts."}}</h3>
      </br>
        <h2 class="title">{{t "Engage with audiences"}}</h2>
        <h3>{{t "It's one of the RunAs key feature. We are able to convert a Medium post to Twitter, Linkedin or many others."}}</h3>
      </br>
        <h2 class="title">{{t "Convert your post for any social network"}}</h2>
        <h3>{{t "Manage all your social messages in one multi-feed inbox for a faster turnaround."}}</h3>
      </br>
        <h2 class="title">{{t "Manage social content"}}</h2>
        <h3>{{t "Stay on message with pre-approved content your teams can post, stored in your favorite cloud file service. Tagging, searching, and usage statistics make curating content a breeze."}}</h3>
      </br>
        <h2 class="title">{{t "Export social content"}}</h2>
        <h3>{{t "Export your credentials as file for history. Export full History & Campagn in an archive you can keep safely. Export all your reports in CSV format for even deeper analysis."}}</h3>
      </br>
        <h2 class="title">{{t "Measure & Monitor"}}</h2>
        <h3>{{t "Track post performance and monitor the social web for insights and opportunities. Measure the impact of your social media campaigns through comprehensive reporting. Track personal and team metrics so you know where to improve."}}</h3>
      </br></br>
        <a href="https://trello.com/b/NaEH5zt4/runas-product-roadmap" target="_blank">{{t "Check out our Runas Public Roadmap"}}</a>
    </div>
</div>
<!-- End Roadmap Home -->
