<!-- Roadmap Home -->
<div class="section section-testimonial text-center">
    <div class="container">
        <h2 class="title">{{t "Let's talk RunAs Roadmap"}}</h2>
        <div id="carouselrunas" class="carousel fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="mask">
                        <img src="{{asset 'img/faces/face-4.jpg'}}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>{{t "Jay Z, Product Owner"}}</p>
                        <h3>"{{t "Our RunAs MVP platform will be live in Q2 2019 with Twitter, Linkedin and Facebook accounts."}}"</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask">
                        <img src="{{asset 'img/faces/face-3.jpg'}}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>{{t "Drake, Backend Developer"}}</p>
                        <h3>"{{t "We will support in Q3 2019 images and scheduling with Crusades. Timeline will be also supported."}}"</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask">
                        <img src="{{asset 'img/faces/face-2.jpg'}}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>{{t "Rick Ross, Cloud DevOps"}}</p>
                        <h3>"{{t "We will support for Q4 2019 Instagram, YouTube, Pinterest, Wordpress, Slack, Medium and many more platforms"}}"</h3>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators carousel-indicators-red">
                <li data-target="#carouselrunas" data-slide-to="0" class="active"></li>
                <li data-target="#carouselrunas" data-slide-to="1"></li>
                <li data-target="#carouselrunas" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
<!-- End Roadmap Home -->
