<!-- Team Home -->
<div class="section section-dark text-center">
	<div class="container">
		<h2 class="title">{{t "Let's talk RunAs Team"}}</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-profile card-plain">
					<div class="card-avatar">
							<img src="{{asset 'img/faces/didier-caroff-1.png'}}" alt="Didier Caroff">
					</div>
					<div class="card-body">
							<div class="author">
								<h4 class="card-title">Didier Caroff</h4>
								<h6 class="card-category">CEO Chief Executive Officer</h6>
							</div>
						<p class="card-description text-center">
							{{t "TL;DR: I want to make sure our team is happy and working with fun."}}
						</p>
					</div>
					<div class="card-footer text-center">
						<a href="https://twitter.com/kwa29" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
						<a href="https://github.com/kwa29" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/didiercaroff/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile card-plain">
					<div class="card-avatar">
							<img src="{{asset 'img/faces/mathieu-kerjouan-1.jpeg'}}" alt="Mathieu Kerjouan">
					</div>
					<div class="card-body">
							<div class="author">
								<h4 class="card-title">Mathieu Kerjouan</h4>
								<h6 class="card-category">CTO Chief Technology Officer</h6>
							</div>
						<p class="card-description text-center">
							{{t "Kind of modern traveler, working as a nomad worker and living with bare minimum."}}
						</p>
					</div>
					<div class="card-footer text-center">
						<a href="https://twitter.com/niamtokik" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
						<a href="https://github.com/niamtokik/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/mathieukerjouan/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile card-plain">
					<div class="card-avatar">
							<img src="{{asset 'img/faces/ora-1.png'}}" alt="Ora">
					</div>
					<div class="card-body">
							<div class="author">
								<h4 class="card-title">Ora</h4>
								<h6 class="card-category">CDO Chief Dog Officer</h6>
							</div>
						<p class="card-description text-center">
							{{t "Typically, I start my mornings around 6 am and I wake up my parents (one of the co-founders) to let me out. Then it's nap on the couch, play with my ball and watch my master work."}}
						</p>
					</div>
					</div>
			</div>

		</div>
	</div>
</div>
<!-- End Team Home -->
